<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sse.bupt.repository.dao.InutatccmOfTenderDao">
    <resultMap id="resultMap" type="cn.sse.bupt.model.InutatccmOfTenderModel">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="uid" column="uid" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="fileUrl" column="file_url" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="columeList">
        id, uid, title, content, file_url, create_date
    </sql>

    <insert id="insert" parameterType="cn.sse.bupt.model.InutatccmOfTenderModel">
        insert into tb_inutatccm_of_tender (uid, title, content, file_url) values(#{uid}, #{title}, #{content}, #{fileUrl})
    </insert>

    <update id="updateById">
        update tb_inutatccm_of_tender set title=#{title}, content=#{content}, file_url=#{fileUrl} where id=#{id}
    </update>

    <delete id="deleteById">
        delete from tb_inutatccm_of_tender where id=#{id}
    </delete>

    <select id="listByCreateDateDesc" resultMap="resultMap">
        select <include refid="columeList"/> from tb_inutatccm_of_tender order by id desc limit #{start}, #{size}
    </select>

    <select id="selectById" resultMap="resultMap">
        select <include refid="columeList"/> from tb_inutatccm_of_tender where id=#{id}
    </select>
</mapper>
